// Purpose: Ignore files and directories that are not needed in the repository

// Ignore secrets
.env
secrets*

// Ignore python virtual environment
.venv

// Ignore text files
*.pdf
*.txt
*.drawio

// python cache
__pycache__/